<h1>New announcement</h1>
  <div>
    <%= link_to "Back to dig", dig_path(@dig) %> | 
    <%= link_to "Back to announcements", dig_announcements_path %>
  </div>

<hr />

<%= render "form", announcement: @announcement %>
