<%= render @announcement %>

<% if @announcement.poster == current_user %>
  <div class="btn-toolbar">
    <%= link_to "Edit", edit_dig_announcement_path(@dig, @announcement), class: "btn btn-outline-primary", style: "margin-right: 10px;" %>
    <%= button_to "Delete", dig_announcement_path(@dig, @announcement), method: :delete, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
