<div class="container">
  <%= render @announcement %>

  <% if @announcement.poster == current_user %>
    <div>
      <%= link_to "Edit this announcement", edit_dig_announcement_path(@dig, @announcement) %> |
      <%= link_to "Back to announcements", dig_announcements_path(@dig) %>

      <%= button_to "Destroy this announcement", dig_announcement_path(@dig, @announcement), method: :delete %>
    </div>
  <% end %>
</div>
