<div class="card mb-3 shadow-sm text-center">
  <div class="card-header">
    <h4 class="card-title pt-2"><%= dig.name %></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= dig.location %></p>
    <p class="card-text"><%= dig.season %></p>
  </div>
</div>
