<div class="modal fade" id="rolesInfoModal" tabindex="-1" role="dialog" aria-labelledby="rolesInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Roles</h5>
      </div>
      <div class="modal-body">
        <strong>Lead</strong>
        <p>A dig lead has full permissions within the dig. They can edit or delete the dig itself and view, edit, or delete artifacts and images. They can also add participants and change the roles of existing participants.</p>
                      
        <strong>Analyst</strong>
        <p>An analyst can view dig info, artifact details, images, and participants of digs they participate in. They are also able to view data visualizations. They can only edit or delete artifacts or images they have posted themselves.</p>

        <strong>Field Worker</strong>
        <p>Field workers can view dig info, artifact details, images, and participants of digs they participate in. They can only edit or delete artifacts or images they have posted themselves. This is the role best suited for students and is the most limited role.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
