<div id="<%= dom_id dig_participant %>">
  <p>
    <strong>Dig:</strong>
    <%= dig_participant.dig_id %>
  </p>

  <p>
    <strong>Participant:</strong>
    <%= dig_participant.participant_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= dig_participant.role %>
  </p>

</div>
