<div id="<%= dom_id dig_participant %>">

  <h4>
    <%= dig_participant.participant.first_name %> <%= dig_participant.participant.last_name %>
  </h4>

  <p>
    <strong>Role:</strong>
    <%= dig_participant.role %>
  </p>

</div>
