<p style="color: green"><%= notice %></p>

<h1>Dig participants</h1>

<div id="dig_participants">
  <% @dig_participants.each do |dig_participant| %>
    <%= render dig_participant %>
    <p>
      <%= link_to "Show this dig participant", dig_participant %>
    </p>
  <% end %>
</div>

<%= link_to "New dig participant", new_dig_participant_path %>
