<h1>Editing invitation</h1>

<%= render "form", invitation: @invitation %>

<br>

<div>
  <%= link_to "Show this invitation", @invitation %> |
  <%= link_to "Back to invitations", invitations_path %>
</div>
