<div class="container">
  <h1>Your Pending Invitations</h1>

  <div id="invitations">
    <div>
    <h3>Invitations Awaiting Your Action</h3>
      <% @received_invitations.each do |invitation| %>
        <%= render invitation %>
        <%= button_to "Accept", { controller: "dig_participants", action: "create", dig_id: invitation.dig_id, participant_id: invitation.recipient_id, role: invitation.role }, method: :post %>
      <% end %>
    </div>
    <hr>
    <div>
    <h3>Your Sent Invitations</h3>
      <% @sent_invitations.each do |invitation| %>
        <%= render invitation %>
      <% end %>
    </div>
  </div>
</div>
