<div class="container">
  <h1>Your Pending Invitations</h1>

  <div id="invitations">
    <div>
    <h3>Invitations Awaiting Your Action</h3>
      <% @received_invitations.each do |invitation| %>
        <%= render invitation %>
        <p>
          Accept
        </p>
      <% end %>
    </div>
    <hr>
    <div>
    <h3>Your Sent Invitations</h3>
      <% @sent_invitations.each do |invitation| %>
        <%= render invitation %>
        <p>
          Accept
        </p>
      <% end %>
    </div>
  </div>
</div>
