<div id="<%= dom_id dig_image %>">
  <%= image_tag @dig_image.image_url.url, style: "height: 350px;" %>

  <p>
    <strong>Notes:</strong>
    <%= dig_image.notes %>
  </p>

  <p>
    <strong>Posted by:</strong>
    <%= link_to "#{User.find(dig_image.user.id).first_name} #{User.find(dig_image.user.id).last_name}", profile_path(dig_image.user) %>
  </p>

</div>
