<h1>Editing dig image</h1>

<%= render "form", dig_image: @dig_image %>

<br>

<div>
  <%= link_to "Show this dig image", @dig_image %> |
  <%= link_to "Back to dig images", dig_images_path %>
</div>
