<%= render @dig_image %>

<div>
  <%= link_to "Edit this dig image", edit_dig_dig_image_path(@dig, @dig_image) %>
<!---->
  <%= button_to "Destroy this dig image", dig_dig_image_path(@dig, @dig_image), method: :delete %>
</div>
