h1 a,
h2 a,
h3 a {
  color: #dc3545;
}
a {
  text-decoration: none !important;
  color: #6c757d;
}
h1, h2, h3 {
  color: #dc3545; 
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Lora', serif;
}
p {
  line-height: 2;
}
/* Image show page */
.full-image {
  height: 350px;
}
.pointer {
  cursor: pointer;
}
/* Landing page image */
.banner-image {
  width: 100%; 
  max-height: 400px; 
  object-fit: cover;
}
.stripe {
  height: 200px; 
  background-color: #800000;
}
.landing-layout {
  position: relative; 
  width: 100%; 
  max-height: 350px;
}
.homepage-overlay {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  text-align: center;
}
.red-link {
  color: #dc3545;
}
/* Button spacing */
.button-margin {
  margin-right: 10px;
}
