h1 a,
h2 a,
h3 a {
  color: #dc3545;
}
a {
  text-decoration: none !important;
  color: #6c757d;
}
h1, h2, h3 {
  color: #dc3545; 
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Lora', serif;
}
p {
  line-height: 2;
}

