<p style="color: green"><%= notice %></p>

<%= render @artifact %>

<div>
  <%= link_to "Edit this artifact", edit_dig_artifact_path(@dig, @artifact) %> |
  <%= link_to "Back", request.referer || root_path %>

  <%#= button_to "Destroy this artifact", @artifact, method: :delete %>
</div>
