<div class="container" style="width: 65%">
  <h1>Welcome to ArchaeoLog</h1>

  <h3 class="mt-4 mb-4">Unearth the Future of Archaeological Data Management</h3>

  <h5>Introduction</h5>
  <p style="line-height: 2;">ArchaeoLog was borne from a vision of revolutionizing data logging in archaeological fieldwork. Our mission is to provide a streamlined and user-friendly application to archaeeologists, serving as a modern and lightweight upgrade to traditional museum and archaeological software.</p>

  <h5>Our Vision</h5>
  <p style="line-height: 2;">At ArchaeoLog, we envision a future where logging archaeological data in the field is efficient, organized, and enjoyable. We strive to enhance the process of data collection, providing modularized data management and helpful data visualization. We aim to be the go-to solution for archaeologists, offering innovative tools to enhance their experience.</p>

  <h5>User-Centric Approach</h5>
  <p style="line-height: 2;">We understand the unique needs of each project, and our products reflectthat. ArchaeoLog is designed with a user-centric approach, offering ample customization opportunities to tailor each log to your specific requirements.</p>

  <h5>Security Matters</h5>
  <p style="line-height: 2;">Your data's security is our priority. ArchaeoLog allows you to assign roles to each dig participant, controlling their access and capabilities. This gives you control over who can and cannot modify data.</p>
</div>
