<div class="w-65">
  <%= link_to 'Back', request.referer || root_path %>
  <hr />
  
  <h1>Using ArchaeoLog: Your Digital Field Log</h1>

  <h3>Getting Started</h3>
  
    <h5>1. Create an Account</h5>
      <p>Begin by creating your account on ArchaeoLog. This account will serve as your gateway to seamlessly manage your archaeological endeavors.<p>

    <h5>2. Home Page</h5>
      <p>After logging in, you'll land on your home page. This serves as the central hub for all of the digs you've created or participate in.</p>

    <h3>Creating a Dig</h3>

      <h5>3. Initiate a Dig</h5>
        <ul>
          <li>Click on "create a dig" from your home page.</li>
          <li>Fill in essential details about the dig, including its name, location, and dates.</li>
          <li>Upload images such as maps and photos to provide participants with a comprehensive overview.</li>
        </ul>

      <h5>4. Add Participants</h5>
        <ul>
          <li>Before the dig begins, invite participants to join. This ensures they can familiarize themselves with the dig details.</li>
          <li>As the creator of the dig, you'll automatically be assigned the lead role, granting you full control. Don't worry - if someone else has created a dig for you, their role within the dig can be changed once it has been created.</li>
          <li>Communicate with participants using ArchaeoLog's announcements function.</li>
        </ul>

      <h5>5. Participant Roles</h5>
        <ul>
          <li>Each participant is assigned a role conferring different degrees of access, ensuring a tailored experience for each participant based on their experience.</li>
          <li>Participant roles can be modified later by any user with lead permissions.</li>
        </ul>

      <h3>Managing Your Dig</h3>

        <h5>6. Artifact Management</h5>
          <ul>
            <li>Easily add artifacts from the bottom of the dig page using the provided data fields, and include any additional information in the description field.</li>
            <li>Once the artifact has been created, upload images for comprehensive documentation.</li>
            <li>Each artifact is automatically assigned a unique ID number, simplifying data retrieval.</li>
            <li>ArchaeoLog generates data charts based on artifacts for quick analysis.</li>
          </ul>

      <h3>Conclusion</h3>

      <p>Congratulations! You've successfully navigated the essential features of ArchaeoLog. Happy digging!</p>
 </div>
